{% extends 'layout.html' %}
{% block content %}
<button title="Create Post" class="btn create-btn rounded-circle p-0" type="button" data-toggle="modal" data-target="#ModalScrollable">
    <i class="fa fa-pencil-square-o ml-1 mb-2"></i>
</button>

<div class="create-post bg-light p-2 mt-2 mb-4">
    <article class="media content-section">
        <div class="media-body">
            <a class="account-user mr-2" href="#">{{user[4]}} {{user[5]}}</a>
            <br>
            <div class="container d-flex flex-wrap justify-content-center ">
                <button class="btn w-75 mt-3 mb-3" type="button"data-toggle="modal" data-target="#ModalScrollable">
                    Whats on your mind?
                </button> 
            </div>
            
            
        </div> 
      </article>
    
</div>


  <div class="modal fade" id="ModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title display-4" id="exampleModalCenteredLabel">New Post</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="POST" enctype="multipart/form-data">
                {{ form.csrf_token }}

                <div class="form-group">
                    {{ form.title.label(class="form-control-label") }}
                    {% if form.title.errors %}
                        {{ form.title(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.title(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    <div class="row">
                      {{ form.content.label(class="form-control-label col-2") }}
                    </div>

                    {% if form.content.errors %}
                        {{ form.content(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.content.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.content(class="form-control form-control-lg content") }}
                    {% endif %}
                </div>
                <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

                <div class="form-group">
                    {{ form.submit(class="btn btn-light btn-outline-dark col mt-3") }}
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
  {% if posts %}
    {% for item in posts %}
      <div class="post bg-light p-0 mt-2 mb-4">
        <article class="media content-section">
            <div class="media-body">
              <div class="article-metadata m-3">
                <img class = "rounded-circle article-img" src="{{url_for('static', filename='images/default.jpg')}}" style=" height:40px; width: 40px;">
                  <a class="ml-2 article-author" href="#">{{ item[1] }}</a>
                  <small class="ml-2 font-weight-bold">{{ item[2] }}</small>
                  <small class="ml-2 text-muted">Authorized by {{ item[4] }}</small>
              </div>
                <a class="article-title ml-3 font-weight-bold" style="font-size: 2em;" href="#">{{ item[5] }}</a>
                  <p class="article-content ml-3 mb-0 m-3" style="white-space: pre-wrap;

                  overflow-wrap: break-word;">{{ item[6] }}</p>
                <small class="text-muted m-0 ml-3" style="margin-top: 0em !important">{{ item[7] }}</small>
                
            </div> 
          </article>
          <div class="row ml-3">
            <p class="btn btn-sm" type="button"><i class="fas fa-thumbs-up"></i></p>
            <div class="star-widget">
              
              <small class="ml-2">2 Likes</small>
            </div>

            <div class="col ml-4 mb-2">
              <a class="article-save" href="#">View Comments</a>
            </div>
          </div>
      </div>
    {% endfor %}
  {% else %}
  {% endif %}


{% endblock %}

