<!DOCTYPE html>
<html lang="en">
<head>
  {% if title %}
    <title>mock.eskwela | {{title}}</title>
  {% else %}
    <title>mock.eskwela</title>
  {% endif %}

  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='stylesheets/style.css')}}">

  <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="shortcut icon" href="#">
    <script src="https://kit.fontawesome.com/535619369f.js" crossorigin="anonymous"></script>
</head>
<body>
   <header class="mb-5">
        <nav class="navbar navbar-expand-lg navbar-light bg-light p-0 fixed-top">
            <div class="col-8 ml-5">
              <div class="p-4 ml-4" href="#"><h5>mock.eskwela</h5></div>
            </div>

            <div class="collapse navbar-collapse ml-3" id="navbarSupportedContent">
        
                <ul class="navbar-nav pl-5 float-right">
                      <li class="nav-item">   
                        <a class="nav-link p-4 ml-4" href="#">Notifications</a>
                    </li>
                     <li class="nav-item">   
                       <a class="nav-link p-4 ml-4" href="{{ url_for('logout') }}">Logout</a>
                    </li>
                </ul>
            </div>
          </nav>
    </header>
     <div class="body-sect row pt-4">
      <div class="article sidebar bg-light p-5 mt-3">
        <div class="sidebar-info-sect row">
          <div class="sidebar-top col">
            <a class="sidebar-info " href="#">
              <img class = "rounded-circle article-img mr-2" src="{{url_for('static', filename='images/default.jpg')}}" style=" height: 50px;width: 50px;">
              <strong>
                {{user[4]}} {{user[5]}}
              </strong>
          </a>
          {% if user[0] == 'parent' or user[0] == 'student' %}
          {% else %}
            <a class="sidebar-info row" href="{{url_for('classList')}}">Class List</a>
            <a class="sidebar-info row" href="{{url_for('createStudent')}}">Create Student</a>
            <a class="sidebar-info row" href="{{url_for('activate_account')}}">Activate Account</a>
          {% endif %}
          </div> 
        </div>
      </div>
      <div class="col-8 post-sect">
        {% block content %}
        {% endblock %}
      </div>
        
     </div>
  
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"></script>


      <script>
        if ( window.history.replaceState ) {
            window.history.replaceState( null, null, window.location.href );
        }
    </script>
</body>
</html>