<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mock.Eskwela</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/login.css') }}" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
</head>
<body>
    <div class="d-flex flex-wrap justify-content-center align-items-center h-50">
        <h1 class="display-4 text-light">mock.eskwela</h1>
    </div>
    <div class="login">
        <h3 class="m-2 mt-5">Login</h3>
            <form method="POST">
                {{ form.csrf_token }}
                {{ form.hidden_tag() }}
                {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                    {% for category, message in messages %}
                      <div class = "m-2 alert alert-{{ category }} w-100">
                        {{ message }}
                      </div>
                    {% endfor %}
                  {% endif %}
                {% endwith %}

                {% if form.username.errors %}
                {{ form.username(class = "form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for errors in form.username.errors %}
                        <span>{{ errors }}</span>
                    {% endfor %}
                </div>
              {% else %}
                {{ form.username(class="m-2", placeholder="Username") }}
              {% endif %}
              {% if form.password.errors %}
              {{ form.password(class = "form-control is-invalid") }}
              <div class="invalid-feedback">
                  {% for errors in form.password.errors %}
                      <span>{{ errors }}</span>
                  {% endfor %}
              </div>
            {% else %}
              {{ form.password(class="m-2", placeholder="Password") }}
            {% endif %}
                {{ form.submit(class="btn btn-primary btn-block m-2") }}
            </form>
            <div class="d-flex flex-wrap justify-content-center">
            <p class="text-light">
                Dont have an account yet? |<a class="ml-2" href="{{url_for('signup', user='teacher')}}"
                >Sign Up</a
                >
            </p>
        </div>
    </div>
        
       
</body>
</html>