<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mock.Eskwela</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/login.css') }}" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
</head>
<body>
    <div class="container-fluid w-100 h-100">
    <div class="row align-items-center h-100">
      <div class="container">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <form method="POST">
              {{ form.csrf_token }}
              {{ form.hidden_tag() }}
            <div class="row d-flex justify-content-between">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Register Student</h3>
              <div>
            </div>
            </div>
            
              <div class="row"> 
                <div class="basic_cred col container-fluid m-0">
                  <div class="row">
                    <div class="col-md-6 mb-4">
    
                      <div class="form-group">
                        {{ form.firstname.label(class="font-weight-bold") }}
                        {% if form.firstname.errors %}
                          {{ form.firstname(class = "form-control is-invalid") }}
                          <div class="invalid-feedback">
                              {% for errors in form.first.errors %}
                                  <span>{{ errors }}</span>
                              {% endfor %}
                          </div>
                        {% else %}
                          {{ form.firstname(class="form-control") }}
                        {% endif %}
                      </div>
    
                    </div>
                    <div class="col-md-6 mb-4">
    
                      <div class="form-group">
                        {{ form.lastname.label(class="font-weight-bold") }}
                        {% if form.lastname.errors %}
                          {{ form.lastname(class = "form-control is-invalid") }}
                          <div class="invalid-feedback">
                              {% for errors in form.lastname.errors %}
                                  <span>{{ errors }}</span>
                              {% endfor %}
                          </div>
                        {% else %}
                          {{ form.lastname(class="form-control") }}
                        {% endif %}
                      </div>
    
                    </div>
                  </div>
    
                  <div class="container">
                    <div class="row mb-4">
    
                      <div class="col d-flex align-items-center">
                        <div class="row">
                          <p class="mb-4 pb-2 pb-md-0 mb-md-5 p-1">Gender</p>
                          {% if form.gender.errors %}
                            {{ form.gender(class = "form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for errors in form.gender.errors %}
                                    <span>{{ errors }}</span>
                                {% endfor %}
                            </div>
                          {% else %}
                            {{ form.gender(class="select form-control-sm") }}
                          {% endif %}
                        </div>
                        
                      </div>
                      <div class="col">
                        {{ form.unique_id.label(class="font-weight-bold") }}
                        {% if form.unique_id.errors %}
                        {{ form.unique_id(class = "form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for errors in form.unique_id.errors %}
                                <span>{{ errors }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                          {{ form.unique_id(class="form-control") }}
                        {% endif %}
                      </div>
                    </div>
                    <div class="row">
                      {{ form.school.label(class="font-weight-bold") }}
                        {% if form.school.errors %}
                          {{ form.school(class = "form-control is-invalid") }}
                          <div class="invalid-feedback">
                              {% for errors in form.school.errors %}
                                  <span>{{ errors }}</span>
                              {% endfor %}
                          </div>
                        {% else %}
                          {{ form.school(class="disabled form-control") }}
                        {% endif %}
                    </div>
                  </div>
  
                </div>
                <div class="parents_basic_cred col container-fluid m-0">
                  <div class="row">
                    <div class="col-md-6 mb-4">
    
                      <div class="form-group">
                        {{ form.father_firstname.label(class="font-weight-bold") }}
                        {% if form.father_firstname.errors %}
                          {{ form.father_firstname(class = "form-control is-invalid") }}
                          <div class="invalid-feedback">
                              {% for errors in form.first.errors %}
                                  <span>{{ errors }}</span>
                              {% endfor %}
                          </div>
                        {% else %}
                          {{ form.father_firstname(class="form-control") }}
                        {% endif %}
                      </div>
    
                    </div>
                    <div class="col-md-6 mb-4">
    
                      <div class="form-group">
                        {{ form.father_lastname.label(class="font-weight-bold") }}
                        {% if form.father_lastname.errors %}
                          {{ form.father_lastname(class = "form-control is-invalid") }}
                          <div class="invalid-feedback">
                              {% for errors in form.lastname.errors %}
                                  <span>{{ errors }}</span>
                              {% endfor %}
                          </div>
                        {% else %}
                          {{ form.father_lastname(class="form-control") }}
                        {% endif %}
                      </div>
    
                    </div>
                  </div>
    
                  <div class="row">
                    <div class="col-md-6 mb-4">
                    </div>
                    <div class="col-md-6 mb-4">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 mb-4 pb-2">
    
                      <div class="form-outline">
                        {{ form.mother_firstname.label(class="font-weight-bold") }}
                        {% if form.mother_firstname.errors %}
                          {{ form.mother_firstname(class = "form-control is-invalid") }}
                          <div class="invalid-feedback">
                              {% for errors in form.mother_firstname.errors %}
                                  <span>{{ errors }}</span>
                              {% endfor %}
                          </div>
                        {% else %}
                          {{ form.mother_firstname(class="form-control") }}
                        {% endif %}
                      </div>
    
                    </div>
                    <div class="col-md-6 mb-4 pb-2">
    
                      <div class="form-outline">
                        {{ form.mother_lastname.label(class="font-weight-bold") }}
                        {% if form.mother_lastname.errors %}
                          {{ form.mother_lastname(class = "form-control is-invalid") }}
                          <div class="invalid-feedback">
                              {% for errors in form.mother_lastname.errors %}
                                  <span>{{ errors }}</span>
                              {% endfor %}
                          </div>
                        {% else %}
                          {{ form.mother_lastname(class="form-control") }}
                        {% endif %}
                      </div>
    
                    </div>
                  </div>
                  
    
                </div>
              </div>

              <div class="mt-4 pt-2">
                {{ form.submit(class="btn btn-primary btn-lg") }}
                <p class="text d-flex flex-wrap justify-content-center">
                  Go Back Home |<a class="ml-2" href="{{url_for('home', user='teacher')}}"
                  >Home</a
                  >
              </p>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
        
       
</body>
<script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous">
</script>
<script>
  close_fields()
  function close_fields (){
    document.getElementById('school').disabled = true
  }
</script>
</html>