{% extends 'layout.html' %}
{% block content %}

{% if post %}
    {% for item in post %}
      <div class="post bg-light p-0 mt-2 mb-4">
        <article class="media content-section">
            <div class="media-body">
              <div class="article-metadata m-3">
                <img class = "rounded-circle article-img" src="{{url_for('static', filename='images/default.jpg')}}" style=" height:40px; width: 40px;">
                  <a class="ml-2 article-author" href="#">{{ item[1] }}</a>
                  <small class="ml-2 font-weight-bold">{{ item[2] }}</small>
                  <small class="ml-2 text-muted">Authorized by {{ item[4] }}</small>
              </div>
                <p class="article-title ml-3 font-weight-bold" style="font-size: 2em; color: #581b98;">{{ item[5] }}</p>
                  <p class="article-content ml-3 mb-0 m-3" style="white-space: pre-wrap;

                  overflow-wrap: break-word;">{{ item[6] }}</p>
                <small class="text-muted m-0 ml-3" style="margin-top: 0em !important">{{ item[7] }}</small>
                
            </div> 
          </article>
          <div class="row ml-3">
            {% if item[10] != 1 %}
              <p id="{{item[0]}}" class="btn btn-sm" onclick="toggleLike('{{item[0]}}')" type="button"><i style="font-size: large;"class="fas fa-thumbs-up"></i></p>
            {% else %}
            <p id="{{item[0]}}" class="btn btn-sm like" onclick="toggleLike('{{item[0]}}')" type="button"><i style="font-size: large;"class="fas fa-thumbs-up"></i></p>
            {% endif %}
            <div class="star-widget">
              <small class="ml-2" id="{{item[0]}}likeCount">{{item[9]}} Like(s)</small>
            </div>

            <div class="col mb-2">
              <button onclick="showComments('{{item[1]}}','{{item[0]}}', '{{item[3]}}')" class="viewComment" data-toggle="modal" data-target="#commentModal">{{item[8]}} Comment(s)</button>
            </div>

            <div class="modal" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="posterLabel"> </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body" id="commentModal-body">
                    
                  </div>
                  <div class="border">
                    <div class="row p-3">
                      <form method="POST" enctype="multipart/form-data" class="container-fluid row">
                        {{ commentForm.csrf_token }}
                           <div class="col-10">
                            <p>{{ commentForm.comment.label(class='m-0') }}</p>
                            {% if commentForm.comment.errors %}
                                {{ commentForm.comment(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in commentForm.comment.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ commentForm.comment(class="w-100") }}
                            {% endif %}


                            {% if commentForm.user_id.errors %}
                                {{ commentForm.user_id(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in commentForm.user_id.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ commentForm.user_id(class="w-100" , style="display: None;") }}
                            {% endif %}


                            {% if commentForm.post_id.errors %}
                                {{ commentForm.post_id(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in commentForm.post_id.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ commentForm.post_id(class="w-100",  style="display: None;") }}
                            {% endif %}


                           </div>
      
                        <div class="col pt-1">
                            <div class="mt-5">
                              {{ commentForm.comment_submit(class="btn-sm btn-primary" ) }}
                            </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    {% endfor %}
  {% else %}
  {% endif %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{{url_for('static', filename='scripts/comment_like.js')}}"></script>
{% endblock content %}