<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      {% if title %}
        <title>Student Database | {{ title }}</title>
      {% else %}
        <title>Student Database</title>
      {% endif %}
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet/style.css') }}">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
  </head>
  <body>
   <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top">
        <div class="container p-2">
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navCollapse"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="navbar-item">
                  <a href="{{ url_for('land') }}" class="nav-link"> View All Student </a>
                </li>
            </ul>
            <form method="POST" class="form-inline my-2 my-lg-0 ml-auto">
              <input class="form-control mr-sm-2" type="search" placeholder="Search I.D" aria-label="Search" name="search">
              <input class="btn btn-outline-danger my-2 my-sm-0" value="Search" type="submit"/>
            </form>
          </div>
        </div>
      </nav>
    </header>
    <div class="container-fluid hero p-0" id="top">
      <div class="jumbotron jumbotron-fluid mt-3 ml-0 mr-0">
        <div class="container-fluid pt-3 pl-4 m-0">
          <div class="row">
                  <div class="col">
                     <h1 class="display-4 font-weight-light text-light">Notifications</h1>
                     <button type="button" class="btn btn-light" onclick="setNewTT()">Read All</button>
                  </div>
          </div>
          
        </div> 
      </div>
      <div class="container-fluid mb-3 pl-3 pr-3">
        <div class="container-fluid home-view-tools p-3 m-0 mt-2" style="background-color: rgba(255, 255, 255, 0.938);"">
            <div class="new_notif p-3 mb-2" style="border-bottom: 0.2em solid gray; border-radius:10px; background-color: rgba(101, 200, 207, 0.582);">
                <div class="d-flex justify-content-center" id = "labels" style="font-size: larger;">
                     <Strong>Latest</Strong>
                </div>
                <div id="new_notif_body" class="mt-1">
                    {% for notif in notifs %}
                    <div class="card mb-2">
                        <div class="card-body">
                            <h4 class="card-title">
                                {{ notif[0] }}
                                <h6 class="card-subtitle mb-2 text-muted">{{ notif[1] }}</h6>
                            </h4>
                        </div>
                    </div>
                    {% endfor %}
                </div>    
            </div>
            
            <div id="old_notif" class="p-3 mb-2">
                <div class="d-flex justify-content-center" id="labels" style="font-size: larger;">
                    <Strong>Earlier</Strong>
                </div>
                <div id="old_notif_body" class="mt-1">
                    <div class="card mb-2">
                        <div class="card-body">
                            <h4 class="card-title">
                                +msg+ 
                            <h6 class="card-subtitle mb-2 text-muted">+ new Date(ts/1e4) +</h6>
                            </h4>
                            
                            </div>
                        </div>
                </div>    
            </div>

        </div>
    </div>

    </div>
</body>
</html>