<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>

<script src="https://cdn.pubnub.com/sdk/javascript/pubnub.7.1.2.js"></script>

<script>
    var pubnub = new PubNub({
              subscribe_key : 'sub-c-929f34e0-ac3c-4ac1-9203-662b20f90279',
              publish_key:'pub-c-b0c69ce9-13c4-4ee1-8995-c829d3f410c7',
              uuid: "myUUID",
              origin: 'pubsub.pubnub.com'
          });

    //  UPON CLOSING THE TAB
    function getHistory(){
        pubnub.fetchMessages({
        channels: ["my_channel"],
        // end : String(tt)
        }).then(result=> {
            tt = result.channels.my_channel.at(-1)['timetoken']
            saveData(tt)
        })
    }

    function saveData(tt){
        pubnub.objects.setChannelMetadata({
        channel: "my_channel",
            data: {
            lastTimetoken : tt
            }
        });
          }

    // UPON OPENNING THE TAB
    pubnub.objects.getChannelMetadata({
        channel: "my_channel"
    }).then(result => {
        console.log(result.data.custom.lastTimetoken)
    });

    




</script>